
.root {
    -fx-base: #f7f8fa;
    -fx-focus-color: transparent;
    -fx-font-family: "JetBrains Mono";
    -fx-dark-text-color: black;
    -fx-light-text-color: black;
    -fx-focus-color: transparent;
    -fx-focus-traversable: true;
}

.root:focused {
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
}

.table-column .table-column {
    -fx-background-color: white;
}

.menu-bar {
    -fx-selection-bar: #ececec;
    -fx-selection-bar-background-radius: 5 5 5 5;
    -fx-selection-bar-border-insets: 5 5 5 5;
    -fx-selection-bar-background-insets: 2 3 2 3;
    -fx-focused-text-base-color: black;
}

.menu {
    -fx-background-color: transparent;
    /*-fx-background-insets: 0, 1, 2;*/
    /*-fx-padding: 3 30 3 30;*/
    -fx-font-size: 14px;
    -fx-background-radius: 5 5 5 5;
    -fx-background-insets: 1 -5 1 -5;
}

.context-menu {
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-background-color: white;
}

/*.context-menu .separator {*/
/*    -fx-background-color: rgb(183, 183, 183);*/
/*    -fx-padding: -4 0;*/
/*}*/

.menu:hover {
    -fx-background-color: rgba(222, 222, 222, 0.5);
}

.menu-item {
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5 5 5 5;
    -fx-border-insets: 5 5 5 5;
    -fx-background-insets: 2 3 2 3;
}

.split-pane-divider {
    -fx-background-color: rgb(235, 236, 240);
    -fx-background-insets: 1.5;
    -fx-padding: 2;
}

#columnModelActive {
    -fx-alignment: center;
}

#columnModelVisible {
    -fx-alignment: center;
}

.accordion {
    -fx-background-color: white;
}

.table-view {
    -fx-background-color: white;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-font-family: "JetBrains Mono";
}

.table-row-cell {
    -fx-background-color: white; /* Цвет фона ячейки */
}

.table-row-cell:selected {
    -fx-background-color: rgba(222, 222, 222, 0.5); /* Цвет выделенной ячейки */
}

/*.table-row-cell:pressed {*/
/*    -fx-background-color: #c5e1ff; !* Цвет выделенной ячейки *!*/
/*}*/

.table-view .column-header {
    -fx-background-color: #f7f8fa;
    -fx-text-fill: black;
}

.table-view .column-header-background {
    -fx-background-color: #f7f8fa;
}

.titled-pane .title {
    -fx-background-color: #f7f8fa;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 8 10;
}

.titled-pane .content {
    -fx-background-color: white;
    -fx-background-radius: 0 0 5 5;
    -fx-padding: 10;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
    /*-fx-padding: 0;*/
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-border-color: rgb(14, 118, 248);
    -fx-background-color: rgb(14, 118, 248);
}